@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 71.5rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.header {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
}

.nav-element,.navigation{
    display: inline-block;
}

.nav-element a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 0.3rem 0.8rem;
    margin: 0 0.3rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    border-radius: 5%;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.nav-element a:hover {
    color: aliceblue;
    background-color: black;
    border-color: gray;
}
.clearfix {
    clear: both;
}

.header-title,.slider-title {
    display: inline-block;
    font-size: 2.3rem;
    margin: 0 1.4rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

.home_1,.ams_image {
    display: inline-block;
    margin-top: 2.4rem;
    vertical-align: middle;
}

.pro-text{
    font-size: 1.7rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}
.home_text{
    font-size: 1.7rem;
}
.home{
    margin-top: 3rem;
    vertical-align: middle;
}

.home_1 {
    width: 40%;
    margin-left: 6rem;
    text-align: left;
}

.ams_image {
    width: 30%;
    margin-right: 6rem;
    text-align: right;
    margin-top: 4rem;
    display: inline-block;
}

.personal_image {
    width: 100%;
    border: 2px solid black;
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
}

.person_info,.person-jobs {
    display: inline-block;
}

.about_1,.about_2 {
    display: inline-block;
    margin-top: 2.7rem;
    vertical-align: middle;
}

.about_1 {
    width: 40%;
    margin-left: 3rem;
}

.about_2 {
    width: 40%;
    margin-right: 3rem;
    text-align: left;
}

.person_info {
    font-size: large;
}

.person_skills {
    margin-left: 0.7rem;
    margin-bottom: 1.875rem;
    text-align: start;
}

.contact-form {
    background-color: #fff;
    color: #000;
    padding: 2.4rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 1rem;
}

.btn-custom {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-custom:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.sm-title {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 0.7rem;
}

.socials {
    display: flex;
    justify-content: center;
}

.socical-network {
    width: 100%;
}

.sm-container {
    width: 40%;
    display: inline-block;
    justify-content: flex-start;
    vertical-align: top;
}

.sm-element {
    justify-content: flex-start;
    vertical-align: top;
}

.sm-icon {
    margin: 5%;
    width: 70px;
    display: inline-block;
}

.sm-name {
    text-decoration: none;
    font-size: 2.4rem;
    display: inline-block;
    color: #000;
    padding: 0.3rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.sm-name:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.3rem;
}


.top-div {
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin-bottom: 0.7rem;
}
.pj-menu-title{
    font-size: 2.7rem;
    color: black !important;
    background-color: white !important;
    border: none !important;

    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.top-div div:hover{
    border-bottom: 4px solid gray;
}

.top-div div {
    border: 1px solid black;
    margin: 0.1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    display: inline-block;
    padding: 0.5rem;
    color: white;
    background-color: #000;
    cursor: pointer;
    border-radius: 5%;
}

.off-on > div {
    display: none;
}

.pj-part {
    margin: 0.8rem;
    width: 30%;
    height: auto;
    border: 2px solid black;
    padding: 1rem;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.p-title {
    margin: 0.4rem;
    font-size: 2rem;
    text-align: center;
}

.p-pic {
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.p-info {
    white-space: normal;
}

.slide-1, .slide-2, .slide-3 {
    display: none;
}
.ams_icon{
    display: none;
}

@media only screen and (max-width: 996px){

    .pro-text{
        font-size: 1.7rem;
        background-color: black;
        color: white;
        border-radius: 5px;
        border: 1px solid white;
    }
    .home_text{
        font-size: 1.7rem;
    }

    .top-div > *{
        font-size: 0.7rem;
    }
    .pj-menu-title{
        font-size: 1.7rem;
    }
    .p-title{
        font-size: 1rem;
        font-style: bold;
    }
    .pj-part{
        margin: 0.1rem;
    }
    .sm-icon{
        width: 50px;
    }
    .sm-name{
        font-size: 1.3rem;
    }
}


@media only screen and (max-width: 768px){
    .p1{
        width: 40%;
    }
    .p2{
        width: 40%;
    }
    .p3{
        width: 100%;
    }
    .top-div > *{
        font-size: 0.3rem;
    }
    .pj-menu-title, #button{
        font-size: 1.1rem;
    }
    .p-title{
        font-size: 0.7rem;
        font-style: bold;
    }
    .pj-part{
        margin: 0.1rem;
    }
    .person_info {
        font-size: 1.7rem;
    }

    .person_skills {
        margin-left: 0.3rem;
        margin-bottom: 1.875rem;
        text-align: start;
    }


    .about_1,.about_2 {
        display: inline-block;
        margin-top: 2.2rem;
        vertical-align: middle;
    }
    
    .about_1 {
        width: 40%;
        margin-left: 2rem;
    }
    
    .about_2 {
        width: 40%;
        margin-right: 2rem;
        text-align: left;
    }
    
    .nav-element a {
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 0.1rem 0.4rem;
        margin: 0 0.2rem;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        border-radius: 5%;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }
    
    .nav-element a:hover {
        color: aliceblue;
        background-color: black;
        border-color: gray;
    }
    .pro-text{
        font-size: 1.3rem;
        background-color: black;
        color: white;
        border-radius: 5px;
        border: 1px solid white;
    }
    .home_text{
        font-size: 1.4rem;
    }
    .home_1 {
        width: 50%;
        margin-left: 3rem;
        text-align: left;
    }
    
    .ams_image {
        width: 30%;
        margin-right: 3rem;
        text-align: right;
        margin-top: 2rem;
        display: inline-block;
    }
    .container{
        max-width: 96%;
        border-bottom: 2rem;
    }
    .header-title,.slider-title {
        font-size: 1.7rem;
        margin: 0 1rem;
    }
    .nav-element a{
        font-weight: 400;
        font-size: 1rem;
        margin: 0 0.1rem;
    }
    .about_2{
        margin-right: 4rem;
    }
    .top-div > *{
        font-size: 1rem;
    }
    .pj-menu-title{
        font-size: 2rem;
    }
    .p-title{
        font-size: 1.2rem;
        font-style: bold;
    }
    .pj-part{
        margin: 0.2rem;
    }
    .sm-icon{
        width: 60px;
    }
    .sm-name{
        font-size: 1.5rem;
    }
    .ams_icon{
        display: none;
    }
}


@media only screen and (max-width:600px){
    .container{
        margin-bottom: 2rem;
        max-width: 20rem;
    }
    .home_1 {
        margin-top:5rem;
        width: 100%;
        margin: 2rem;
        text-align: center;
        vertical-align: middle;
    }
    
    .pro-text{
        font-size: 1.2rem;
        background-color: black;
        color: white;
        border-radius: 5px;
        border: 1px solid white;
    }
    .home_text{
        font-size: 1.1rem;
    }
    .ams_icon{
        width: 50px;
        display:inline-block;
    }
    .ams_image{
        display: none;
    }
    .header-title{
        font-size: 1.5rem;
        text-align: center;
        vertical-align: middle;
    }
    .slider-title {
        font-size: 1rem;
        margin: 0 1rem;
    }
    .nav-element a{
        display: none;
    }
    section {
        height: 100vh;
    }
    .about_2{
        margin-right: 4rem;
    }
    .top-div > *{
        font-size: 1rem;
    }
    .pj-menu-title{
        font-size: 2rem;
    }
    .p-title{
        font-size: 1.2rem;
        font-style: bold;
    }
    .pj-part{
        margin: 0.2rem;
    }
    .sm-icon{
        width: 60px;
    }
    .sm-name{
        font-size: 1.5rem;
    }
}