@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


.header{
    border-bottom: 3px solid black;
}

.nav-element{
    display: inline-block;
}
.navigation{
    display: inline-block;
}
.nav-element a{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: large;
    text-align: right;
    vertical-align:middle;
    padding: 5px;
    margin: 10px;
    border: 1px none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.nav-element a:hover{
    color: aliceblue;
    background-color: black;
    border: 1px solid gray;
    border-radius: 5%;
    padding: 5px;
    margin: 10px;
}
.nav-element a:active{
    color: aliceblue;
    text-decoration:underline;
    border: 1px solid gray;
    border-radius: 5%;
    padding: 5px;
    margin: 10px;
}
.header .header-title{
    display: inline-block;
    text-align: left;
    font-size: 30px;
    margin: 10px;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
}


.home_1{
    display: inline-block;
    width: 40%;
    margin-top: 40px;
    margin-left: 70px;
    text-align: left;
    vertical-align: middle;
}
.home_2{
    margin-top: 40px;
    margin-right: 70px;
    vertical-align: middle;
    text-align: right;
    width: 30%;
    display: inline-block;
}
/* .home_text{
    display: inline-block;
} */

.ams_image{
    display: inline-block;
    width:400px;
}